
body {
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}



html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    display: grid;
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: 2.5fr 1.5fr;
    grid-auto-rows: 1fr;
    gap: 20px;
}

.entry {
    grid-column: 1;
    overflow: hidden;
    border-bottom: 1px dashed blueviolet;
    padding: 25px 0;
}

/* .entry h3 {
    text-decoration-line: underline;
} */

.navigation_bar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation_bar a {
    text-decoration-line: none;
    padding: 20px;
}

.navigation_bar a:hover {
    text-decoration-line: underline;
}

.page_header {
    background-image: url(../WebAppsProject/images/headphones-on-keyboard.jpg);
    background-size: cover;
    background-position: center left;
    height: 500px;
    min-width: 85%;

}

.page_header_text {
    
    color:blue;
    /* width: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: aqua;
    padding: 30px 0; */
}

.page_header h1 {
    color:rgb(215, 19, 19);
    /* width: 500px; */
    /* margin: -20px 0 0 -20px; */
    position: absolute;
    bottom: auto;
    right: 0;
    /* text-align: right; */
    /* background-color: burlywood; */
}

.popular_posts {
    display: flex;
    flex-direction: column;
}
.popular_posts li {
    border-bottom: 1px dashed blueviolet;
    padding: 50px 0;
    list-style-type: none;
}
.popular_posts h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.popular_posts h5 {
    margin-bottom: 0px;
}

.popular_posts img {
    width: 100px;
    margin-right: 20px;
    float: left;
}

/*------------Responsive-----------*/
@media screen and (min-width:750px) {
    .entry img {
        float: left;
        margin-right: 20px;
    }
}